<ion-content>
    <div class="control-bar">
        <div class="container">
            <div class="row">
                <div class="col-2-4">
                    <div class="slogan"> Facturación</div>
                </div>
                <!--.row-->
            </div>
            <!--.container-->
        </div>
        <!--.control-bar-->
    </div>


    <header class="row">
        <div style="padding-top: 55px;padding-left: 95px;">
            <p>
                <strong style="padding-left: 20px;">Medicite S.A.</strong>
                <br> <strong style="padding-left: 15px;">Cuenca-Ecuador</strong>
                <br> <strong style="padding-left: 16px;">medicite@gmail.com</strong>
                <br> <strong style="padding-left: 20px;">Telefono: 2828628</strong>
                <br> <strong style="padding-left: 20px;">RUC: 0106432503</strong>
            </p>
        </div>
    </header>
    <header class="row">

        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">
                    <h1>Nombres</h1>
                </ion-label>
                <ion-input> Paulo Mateo</ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <h1>Apellidos</h1>
                </ion-label>
                <ion-input> Gonzalez Arias</ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <h1>Cedula/RUC</h1>
                </ion-label>
                <ion-input>0106432503</ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <h1>Telefono/Celular</h1>
                </ion-label>
                <ion-input>0106432503</ion-input>
            </ion-item>
        </ion-list>

    </header>

    <header class="row">
        <ion-list>
            <ion-list-header>
                <h1>Detalles</h1>
            </ion-list-header>
            <ion-item>
                <ion-label>
                    <h3>Consulta Medica</h3>
                </ion-label>
                <ion-note slot="end" color="primary">
                    <h3>99</h3>
                </ion-note>
            </ion-item>

            <ion-item>
                <ion-label>
                    <h3>parecetamol</h3>
                </ion-label>
                <ion-note slot="end" color="primary">
                    <h3>55</h3>
                </ion-note>
            </ion-item>

            <ion-item>
                <ion-label>
                    <h3>cebion</h3>
                </ion-label>
                <ion-note slot="end" color="primary">
                    <h3>88</h3>
                </ion-note>
            </ion-item>


        </ion-list>
    </header>
    <ion-list>
        <ion-item>
            <ion-label>
                <h1>Total</h1>
            </ion-label>
            <ion-note slot="end" color="primary">
                <h1>99</h1>
            </ion-note>
        </ion-item>
    </ion-list>

    <div>
        <ion-button color="light"><a href="javascript:window.print()">Imprimir</a></ion-button>
    </div>
    <ion-button color="light">GENERAR PDF</ion-button>
    <!--.col-->

</ion-content>