<ion-header>
	<ion-toolbar class="new-background-color">
		<ion-title class="title">Medicamentos</ion-title>
		<ion-buttons slot="start">
			<ion-button slot="icon-only" class="back-button" color="light" (click)="goBack()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>

	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="page__login h-100 bg__image">
		<div class="ui__view__block">
			<div class="content__centered p-0">
				<div class="login-wrapper">
          <div class="item-note" item-end>
            <ion-list>
              <ion-item *ngFor="let medicamento of medicamentos | async; trackBy: trackByFn; let i = index">
                <ion-label>
                  <h2>{{medicamento.nombre}}</h2>
                  <p> {{medicamento.concentracion}}</p>
                  <div class="item-note" item-end>
          
                    <ion-button (click)="showEditMedicamento()">Editar</ion-button>
                    <ion-button (click)="deleteMedicamento(medicamento.uid)" color="danger">Borrar</ion-button>
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>


					<ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button class="boton" (click)="showCrearMedicamento()">
              <ion-icon  name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>


				</div>
			</div>
		</div>
	</div>

</ion-content>