<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" class="back-button" color="light" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="page__user-profile">
    <app-profile-skeleton *ngIf="dataLoading; else dataLoaded"></app-profile-skeleton>
    <ng-template #dataLoaded>
      <div class="profile-header" [class.show-stats]="0">
        <div class="header-fill">
          <img src={{usuario.photoURL}} alt="">
        </div>
        <div class="cover">
          <div class="avatar">
            <img src={{usuario.photoURL}} alt="">
          </div>
          <div class="nameplate">

            <h3 [hidden] = "showItem ? true : false">Paciente {{usuario.nombre}} {{usuario.apellido}}</h3>
            <h3 [hidden] = "showItem ? false : true">Dr(a). {{usuario.nombre}} {{usuario.apellido}}</h3>
            <h3 [hidden] = "showItem ? false : true">{{usuario.especialidad}}</h3>
            

          </div>
        </div>
        <div class="profile-stats fixed-bottom trans" [class.certified]="1">
          <div class="experience">
            <strong>30 Yr</strong>
            <span>Experience</span>
          </div>
          <div class="ceritification">
            <strong>Doctor Council</strong>
            <span>Certified</span>
          </div>
          <div class="ratings">
            <strong>3.5 / 5</strong>
            <span>Ratings</span>
          </div>
        </div>
      </div>

      <div class="user-profile-item contact">
        <div class="item__header">
          <h3>Acerca de mi </h3>
        </div>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon md="pencil-outline" ></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>Cédula</h3>
              <p class="address">
                <span>{{usuario.cedula}}</span>
              </p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="person-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>Nombre</h3>
              <p>{{usuario.nombre}} {{usuario.apellido}}</p>
            </ion-label>
          </ion-item>


          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>Correo electrónico</h3>
              <p>{{usuario.email}}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="hourglass-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>Fecha de nacimiento</h3>
              <p>{{usuario.fecha_nac |  date:'MM/dd/yyyy'}}</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="pin-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h3>Dirección</h3>
              <p>{{usuario.direccion}}</p>
            </ion-label>
          </ion-item>


          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="call-outline"></ion-icon>            
            </ion-avatar>
            <ion-label>
                <h3>Teléfono</h3>
                <p>{{usuario.telf}}</p>
            </ion-label>
          </ion-item>

          <ion-item [hidden] = "showItem ? true : false">
            <ion-avatar slot="start">
              <ion-icon name="water-outline"></ion-icon>            
            </ion-avatar>
            <ion-label>
                <h3>Tipo de sangre</h3>
                <p>{{usuario.tipoSangre}}</p>
            </ion-label>
          </ion-item>

        </ion-list>
      </div>

      <div class="user-profile-item others">
        
        <div class="item__header">
          <h3>Configuración</h3>
        </div>


        <ion-list class="mb-0">
          <ion-item class="other-info" detail lines="none" (click)="goToEditProfile()">
            <ion-label>
              Editar Perfil
            </ion-label>
          </ion-item>
        </ion-list>

      </div>
    </ng-template>
  </div>
</ion-content>
<ion-footer class="flat">
  <footer-tabs></footer-tabs>
</ion-footer>