<ion-header>
	<ion-toolbar class="new-background-color">
		<ion-title class="title">Medicamento</ion-title>
		<ion-buttons slot="start">
			<ion-button slot="icon-only" class="back-button" color="light" (click)="goBack()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>

	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="page__login h-100 bg__image">
		<div class="ui__view__block">
			<div class="content__centered p-0">
				<div class="login-wrapper">
					<ion-list>

						<ion-card>
							<ion-item lines="full">
								<ion-label position="floating">Nombre</ion-label>
								<ion-input type="text" required [(ngModel)]="medicamento.nombre"></ion-input>
							</ion-item>
						</ion-card>


						<ion-card>
							<ion-item lines="full">
								<ion-label position="floating">Concentración</ion-label>
								<ion-input type="text" required [(ngModel)]="medicamento.concentracion"></ion-input>
							</ion-item>
						</ion-card>

					</ion-list>


					<div class="ion-padding">
						<ion-button expand="block" shape="block" (click)="guardarMedicamento()">Guardar</ion-button>
					</div>


				</div>
			</div>
		</div>
	</div>

</ion-content>