<ion-header>
  <ion-toolbar class="color">
    <ion-title class="title">Mis Consultas</ion-title>
    <ion-buttons slot="start">
			<ion-button slot="icon-only" class="back-button" color="light" (click)="goBack()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>

    <ion-item *ngFor="let consulta of consultas | async">
      <ion-label>

        <h3>{{consulta.uid}}</h3>
        <p>Medico: {{consulta.medicoUID}}</p>
        <p>Paciente: {{consulta.pacienteUID}}</p>
        <p>Fecha: {{consulta.fecha}}</p>
        <p>Estado: {{consulta.estado}}</p>

      </ion-label>
      <ion-button shape="round" (click)="showEditarEmpleoId(empleo.uid)">Editar</ion-button>
      <ion-button shape="round" (click)="showEditarEmpleoId(empleo.uid)">Diagnostico</ion-button>
    </ion-item>

  </ion-list>


</ion-content>